.radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    margin-right: 10px;
    label {
        width: 80px;
    }
}

.wrapper {
    display: flex;
    align-items: flex-end;
}

.repoName {
    flex: 1;
    margin-right: 20px;
}

.spinner {
    width: 50px;
}

.userNameInput {
    width: 200px;
}

.label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.button {
    height: 28px;
}