.layout {
    display: flex;
    flex-direction: column;
    width: 900px;
    background: #fff;
    height: 100%;
    border: 2px solid #e7eaec;
    margin: 20px auto 0;
}

.searching {
    margin: 15px;
}