.item {
    background: #fff;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.backButton {
    margin-left: 10px;
}

.itemBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    overflow: hidden;
    flex: 1;
    h4 {
        margin: 5px 0;
        font-size: 14px;
        font-weight: 600;
    }
}

.nick {
    color: #676a6c;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
}

.body {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.header {
    padding: 9px 12px 6px 12px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
}

.avatar {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 110px;
    text-decoration: none;
    img {
        vertical-align: middle;
        height: 48px;
        width: 48px;
        border-radius: 50% !important;
    }
}