.wrapper {
  display: flex;
  align-items: flex-end;
}

.repoName {
  flex: 1;
  margin-right: 50px;
}

.spinner {
  width: 50px;
}

.userNameInput {
  width: 200px;
}

.label {
  display: inline-block;
  margin-bottom: .5rem;
}

.button {
  height: 28px;
}